div.head{margin-bottom: 20px;}
div.head div.goods{background: #333;}

div.head div.goods div.img{padding: 10px;}
div.head div.goods div.img img{width: 100%;}
div.head div.goods h1{font-size: 18px; padding: 10px; color: #FFF;}

div.head div.goods ul.mode, div.head div.goods ul.pay{list-style: none;}
div.head div.goods ul.mode{background: #ff5c50;}
div.head div.goods ul.mode li{font-size: 12px; padding: 5px 10px; color: #CCC;}

div.head div.goods ul.mode li label{float: left; width: 80px; color: #FFF; font-size: 12px; text-align: right; padding-right: 20px; padding-top: 15px;}
div.head div.goods ul.mode li ul{list-style: none; padding-left: 100px;}
div.head div.goods ul.mode li ul li{color: #FFF;}
div.head div.goods ul.mode li ul li.nowMoney{font-size: 30px; font-weight: bold;}

div.head div.goods ul.mode li span.money{font-size: 12px; color: #EBEBEB; font-weight: bold; text-decoration: line-through; margin-left: 3px;}

div.head div.goods ul.pay{width: 100%;}
div.head div.goods ul.pay li{font-size: 12px; display: inline-block; width: 49%; vertical-align: top;}
div.head div.goods ul.pay li.left{text-align: right;}
div.head div.goods ul.pay li.right{text-align: left; padding: 5px 0;}
div.head div.goods ul.pay li a{box-shadow: 0 0 3px #000;}
div.head div.goods ul.pay li a.pay{padding: 10px; font-size: 30px; font-weight: bold; color: #FFF; text-decoration: none; background: green; border-radius: 3px; margin: 10px 5px 10px 10px; display: block; text-align: center;}
div.head div.goods ul.pay li a.pay:hover{background: #00a600;}
div.head div.goods ul.pay li a.like{padding: 5px 10px; background: #4898F8; text-decoration: none; color: #FFF; border-radius: 3px; margin: 5px 10px 5px 5px; display: block; text-align: center;}
div.head div.goods ul.pay li a.like:hover{background: blue;}

div.com{padding: 5px;}
div.com div.synopsis{}