@charset "utf-8";
/* CSS Document */
/*body{background: #E9EAED;}*/

ul{list-style: none; margin-bottom: 30px;}
ul h1{font-size: 14px; padding: 30px 5px 5px 5px;}
ul li{padding: 5px;}
ul li img{width: 70px; height: 70px; border-radius: 5px;}
ul li h2{display: inline-block; width: 50%; color: #000; font-size: 14px; height: 60px; overflow: hidden; padding: 5px;}
ul li h2 span{color: #000; font-size: 16px; margin-top: 5px; display: block;}
ul li div{width: 20%; display: inline-block; text-align: center; line-height: 5px; height: 37px; padding-top: 33px; float: right;}

a.cardfoot{width: 70%; border: 1px #EBEBEB solid; border-radius: 5px; color: #CCC; font-size: 12px; line-height: 30px; height: 30px; display: inline-block; text-align: center; margin: 30px 15%;}

a.get, a.go{padding: 5px 10px; border: 1px solid; border-radius: 5px; font-size: 12px;}

a.get{border-color: green; color: green;}
a.go{border-color: blue; color: blue;}