body{ background: #EBEBEB;}

div.head{margin: auto; margin-bottom: 20px; max-width: 1200px;}
div.head div.goods{width: 1000px; height: 400px; float: left; position: relative; padding: 10px 0; background: #FFF;}

div.head div.goods div.img{width: 400px; height: 400px; overflow: hidden; position: relative; float: left; margin-left: 10px;}
div.head div.goods div.img img{position: absolute; width: 400px; height: 400px;}
div.head div.goods h1{font-size: 18px; padding: 10px 10px 10px 420px; color: #333;}

div.head div.goods ul.mode, div.head div.goods ul.pay{list-style: none;}
div.head div.goods ul.mode{background: #ff5c50; padding-left: 410px;}
div.head div.goods ul.mode li{font-size: 12px; padding: 5px 10px; color: #CCC;}

div.head div.goods ul.mode li label{float: left; width: 80px; color: #FFF; font-size: 12px; text-align: right; padding-right: 20px; padding-top: 15px;}
div.head div.goods ul.mode li ul{list-style: none; padding-left: 100px;}
div.head div.goods ul.mode li ul li{color: #FFF;}
div.head div.goods ul.mode li ul li.nowMoney{font-size: 30px; font-weight: bold;}

div.head div.goods ul.mode li span.money{font-size: 12px; color: #EBEBEB; font-weight: bold; text-decoration: line-through; margin-left: 3px;}

div.head div.goods ul.pay{position: absolute; bottom: 0; left: 410px; width: 590px;}
div.head div.goods ul.pay li{font-size: 12px; padding: 10px;}
div.head div.goods ul.pay li a{vertical-align: bottom;}
div.head div.goods ul.pay li a.jb{font-size: 12px; color: #333;}
div.head div.goods ul.pay li a.pay, div.head div.goods ul.pay li a.cart{padding: 10px 20px; font-size: 16px; font-weight: bold; color: #FFF; text-decoration: none; background: green; display: inline-block; margin: auto; margin-right: 20px;}
div.head div.goods ul.pay li a.pay:hover, div.head div.goods ul.pay li a.cart:hover{background: #00a600;}
div.head div.goods ul.pay li a.like{padding: 3px 10px; background: #4898F8; text-decoration: none; color: #FFF; border-radius: 3px; display: inline-block; margin-right: 10px;}
div.head div.goods ul.pay li a.like:hover{background: blue;}

div.head div.history{float: right; width: 199px; height: 400px; background: #FFF; border-left: 1px #EBEBEB solid; padding: 10px 0;}
div.head div.history ul{list-style: none;}
div.head div.history ul li{padding: 10px 20px;}
div.head div.history ul li img{width: 100%;}
div.head div.history ul li h1{font-size: 12px; text-align: center; background: #333; color: #FFF; padding: 2px 0}

div.com{max-width: 1200px; margin: auto; margin-bottom: 20px;}
div.com div.synopsis h1{font-size: 24px; padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px #EBEBEB solid;}
div.com div.synopsis{width: 960px; float: right; padding: 10px; background: #FFF;}

div.com div.compay{float: left; width: 200px;}
div.com div.compay ul{list-style: none; border: 1px #333 solid; padding-bottom: 10px; margin-bottom: 20px;}
div.com div.compay ul h1{background: #333; color: #FFF; font-size: 14px; padding: 10px; margin-bottom: 10px;}
div.com div.compay ul li{padding: 0 10px; font-size: 12px; line-height: 18px;}
div.com div.compay ul li a{color: #4898F8; text-decoration: none;}
div.com div.compay ul li a:hover{text-decoration: underline;}
