@charset "utf-8";

/*
	@名称: base
	@功能: 重设浏览器默认样式
*/



/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}.content{position: relative; min-width: 996px; max-width: 1200px; padding: 0 40px; margin: 0 auto; *width: 996px;}

.content .right-part{position: absolute; right: 40px; top: 0; width: 236px; overflow: hidden;}

.content .main{margin-right: 254px;}.uc-process{width: 100%; height: 26px; zoom: 1;}
.uc-process:after{display: block; clear: both; height: 0; content: "\0020";}
.uc-process .unit,
.uc-process .current,
.uc-process .past{float: left; display: inline; height: 26px; width: 221px; background: #ccc; text-align: center; color: #fff; font-size: 14px; line-height: 26px;}
.uc-process .current{background: #00a2ca;}
.uc-process .past{background: #9cddf5; color: #fff;}
.uc-process .arrow,
.uc-process .arrow-current,
.uc-process .arrow-complete,
.uc-process .arrow-past{position: relative; float: left; display: inline; width: 2%; height: 26px; overflow: hidden; background: #ccc;}
.uc-process .next{position: absolute; display: block; left: 0; top: -3px; height: 0; width: 0; overflow: hidden; border: solid 10px transparent; border-width: 16px 10px; _border-color: black; _filter: chroma(color=black); border-left-color: #fff;}
.uc-process .prev{position: absolute; display: block; left: 0; top: 0; height: 0; width: 0; overflow: hidden; border: solid 10px transparent; border-width: 13px 8px; _border-color: black; _filter: chroma(color=black); border-left-color: #ccc;}
.uc-process .arrow-current .prev{border-left-color: #00a2ca;}
.uc-process .arrow-complete{background: #00a2ca;}
.uc-process .arrow-complete .prev{border-left-color: #9cddf5;}
.uc-process .arrow-past{background: #9cddf5;}
.uc-process .arrow-past .prev{border-left-color: #9cddf5;}.uc-table{width: 100%; max-width: 100%; border-collapse: collapse; border-spacing: 0; color: #333;}
.uc-table-s{}
.uc-table th,
.uc-table td{padding: 5px 10px; background: #f2f2f2; text-align: left; vertical-align: middle; line-height: 1.5; font-weight: bold; white-space: nowrap;}
.uc-table td{padding: 20px 10px; background: #fff; border: solid 1px #f6f6f6; border-width: 0 0 1px 0; font-weight: normal;
    -webkit-transition: background .3s; -moz-transition: background .3s; -ms-transition: background .3s; -o-transition: background .3s;
}
.uc-table-text-top td,
.uc-table .text-top{vertical-align: top;}
.uc-table .text-middle{vertical-align: middle;}
.uc-table .text-center{text-align: center;}
.uc-table .text-wrap{word-wrap: break-word; word-break: normal;}
.uc-table tr:hover td{background: #f9f9f9;}

.uc-table .focus td{background: #eafbfe;/* border: solid 2px #f49c0f; border-width: 2px 0; padding: 19px 10px 19px;*/}
.uc-table .focus:hover td{background: #eafbfe;}
/*.uc-table .focus .row-first{border-width: 2px 0 2px 2px; padding-left: 8px;}
.uc-table .focus .row-last{border-width: 2px 2px 2px 0; padding-right: 8px;}*/

.uc-table-s th,
.uc-table-s td{padding: 2px 10px; border-width: 0;}.uc-ploy{display: inline-block; height: 18px; overflow: hidden; background: #e4f0dc; border: solid 1px #c9ddbb; margin: 0 2px 0 0; border-radius: 4px; padding: 0 3px; color: #333; line-height: 1.5; vertical-align: text-bottom; cursor: default;}.uc-button,
                                                                                                                                                                                                                                                                                                       .uc-button-black,
                                                                                                                                                                                                                                                                                                       .uc-button-gray,
                                                                                                                                                                                                                                                                                                       .uc-button-blue,
                                                                                                                                                                                                                                                                                                       .uc-button-disabled{display: inline-block; width: 150px; height: 36px; overflow: hidden; font-size: 14px; border-width: 0; background-color: #00a2c9; border-radius: 4px; color: #fff; font-family: "\5fae\8f6f\96c5\9ed1", "\534e\6587\7ec6\9ed1"; text-align: center; line-height: 2; cursor: pointer; outline: none; border: solid 1px #00a2c9;
                                                                                                                                                                                                                                                                                                           text-shadow:rgba(0, 0, 0, 0.3) 0 -1px 0;
                                                                                                                                                                                                                                                                                                           -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s;
                                                                                                                                                                                                                                                                                                       }
.uc-button:hover{background: #33b5d4; color: #fff; text-decoration: none; border: solid 1px #33b5d4;}
.uc-button:active{background: #20a5c5; box-shadow: inset 0 2px 1px #138cb3; border: solid 1px #20a5c5;}
.uc-button-black{background: #fff; color: #00a2c9; border: solid 1px #33b5d4;
    text-shadow: none;
}
.uc-button-black:hover{background: #33b5d4; text-decoration: none; border: solid 1px #33b5d4; color: #fff;}
.uc-button-black:active{background: #20a5c5; border: solid 1px #20a5c5; box-shadow: inset 0 2px 1px #138cb3; color: #fff;}
.uc-button-gray{background: #fff; color: #00a2c9; border: solid 1px #33b5d4;
    text-shadow: none;
}
.uc-button-gray:hover{background: #33b5d4; text-decoration: none; border: solid 1px #33b5d4; color: #fff;}
.uc-button-gray:active{background: #20a5c5; border: solid 1px #20a5c5; box-shadow: inset 0 2px 1px #138cb3; color: #fff;}
.uc-button-blue{}
.uc-button-blue:hover{background: #33b5d4; text-decoration: none; border: solid 1px #33b5d4;}
.uc-button-blue:active{background: #20a5c5; box-shadow: inset 0 2px 1px #138cb3; border: solid 1px #20a5c5;}
.uc-button-disabled{background: #efefef; color: #ccc; cursor: default; text-shadow: none; border: solid 1px #efefef;}
.uc-button-disabled:hover{text-decoration: none;background: #efefef; border: solid 1px #efefef;}

.uc-button-s{height: 26px; font-size: 12px; line-height: 1.8;}
.uc-button-w100{width: 100px;}
.uc-button-w170{width: 170px;}/* global */
.lnk:link,
.lnk:visited{color: #00a2ca;}
.lnk:hover{color: #00a2ca; text-decoration: underline;}
.lnk-gray:link,
.lnk-gray:visited{color: #666; text-decoration: underline;}
.lnk-gray:hover{color: #00a2ca; text-decoration: underline;}
.m{font-size: 14px;}
.cny{font-family: Arial;}
.mt20{margin-top: 20px;}
.mt10{margin-top: 10px;}
.mt5{margin-top: 5px;}
.mb20{margin-bottom: 20px;}
.mb40{margin-bottom: 40px;}
.mr10{margin-right: 10px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.cny{margin: 0 1px;}
.uc-buy .uc-radio,
.uc-buy .uc-slider,
.uc-buy .uc-select,
.uc-buy .uc-number,
.uc-buy .uc-radio .unit{float: left; display: inline;}
.uc-buy .c-f60{color: #f60;}

/* tab */
.uc-new-tab{position: absolute; top: 0; left: 488px; display: inline; width: 25px; height: 25px; overflow: hidden;}
.uc-page-tab li a,
.uc-page-tab .current a{width: 252px; padding-left: 0; padding-right: 0;}
.uc-page-tab .lnk{float: right; display: inline; height: 16px; overflow: hidden; margin: 14px 0 0 32px; line-height: 1.1;}
.uc-page-tab .lnk .icon-counter{float: left; display: inline; margin: 1px 2px 0 0; height: 16px; color: #666;}

.uc-buy .tip-row{height: 26px; background: #f1f6fa; padding: 6px 10px; margin: 0 5px;}
.uc-buy .tip-row .icon-info{float: left; display: inline; font-size: 16px; color: #06c; margin-top: 5px; margin-right: 4px;}
.uc-buy .tip-row .tip-text{float: left; display: inline; margin-top: 4px; color: #000; line-height: 1.5;}
.uc-buy .tip-row button{float: left; display: inline; margin-left: 8px; width: 100px;}

/* buy */
.uc-buy{position: relative; border: solid 1px #e4e4e4; border-width: 0 1px; zoom: 1; background-color: #fff;}
.uc-buy .form{padding: 10px 0 0;}
.uc-buy .row{margin: 0 9px; padding: 11px 0; zoom: 1; background: #fff; line-height: 26px;
    -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s;
}
.uc-buy .row:after{display:block; clear:both; height:0; content:"\0020";}
.uc-buy .row-relative{position: relative;}
.uc-buy .row-hide{padding: 0; height: 0; overflow: hidden; line-height: 0;}
.uc-buy .row-error{background: #fff;}
.uc-buy .column{float: left; display: inline; color: #333;}
.uc-buy .column .row-li{line-height: 26px; height: 26px; zoom: 1;
    -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s;
}
.uc-buy .column .row-li:after{display:block; clear:both; height:0; content:"\0020";}
.uc-buy .column .row-li-add{-webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); overflow: hidden;}
.uc-buy .column .row-li-delete{-webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); height: 0; padding: 0; overflow: hidden;}
.uc-buy .column .row-li-hide{margin-top: 0; padding: 0; height: 0; overflow: hidden; *display: none;}
.uc-buy .column .tip{float: none; display: inline-block; height: 24px; width: auto; line-height: 1.9; color: #999; font-size: 12px;}
.uc-buy .row .row-name{float: left; display: inline; width: 88px; height: 26px; font-size: 14px; line-height: 25px; text-align: right; color: #999; margin: 0;}
.uc-buy strong{color: #000; line-height: 26px;}
.uc-buy .gray{color: #999;}
.uc-buy .dashed{border-top: dashed 1px #d6d6d6; height: 0; overflow: hidden; margin: 10px 9px;}

/* submit */
.uc-submit{border: solid 1px #e4e4e4; background: #fff; border-width: 1px 0; box-shadow: 0px -5px 5px -4px rgba(0, 0, 0, 0.1); padding: 10px 0 10px 0; color: #666; z-index: 2;}
.uc-submit-transition-height{
    -webkit-transition: top .3s; -moz-transition: top .3s; -ms-transition: top .3s; -o-transition: top .3s;
}
.uc-submit .info-row{height: 24px;}
.uc-submit .info-row-s{height: 24px;}
.uc-submit .info-row-s,
.uc-submit .info-row{padding-left: 97px; line-height: 20px; white-space: nowrap;}
.uc-submit .info-row-hide{height: 0; overflow: hidden; *display: none;}
.uc-submit .button-row{padding-left: 97px;}
.uc-submit .info-row-s .settle,
.uc-submit .info-row .settle{font-size: 20px; color: #f60; color: #f60;}
.uc-submit .cost{color: #999; text-decoration: line-through; margin-left: 10px;}
.uc-submit .rebate{color: #390; margin-left: 10px;}
.uc-submit .icon-giving{color: #79a54c; font-size: 16px; margin-right: 4px; margin-left: 20px; vertical-align: text-bottom;}
.uc-submit .uc-ploy{vertical-align: baseline;}
.uc-submit button{margin: 0px 10px 0 0; outline: none;}/* 背景图 */
.uc-table .ico-order-centos,
.uc-table .ico-order-debian,
.uc-table .ico-order-ubuntu,
.uc-table .ico-order-red-hat-enterprise-linux-server,
.uc-table .ico-order-windows-server,
.uc-table .ico-windows-server,
.uc-table .ico-red-hat-enterprise-linux-server{background: url("http://img02.taobaocdn.com/tps/i2/T11xRyFdRcXXau8B2d-16-168.png") no-repeat;}
.uc-table .ico-windows-server,
.uc-table .ico-red-hat-enterprise-linux-server{display: inline-block; width: 16px; height: 16px; overflow: hidden; margin-right: 5px; vertical-align: text-top; cursor: pointer;}
.uc-table .ico-red-hat-enterprise-linux-server{background-position: 0 -72px;}
.uc-table .ico-windows-server{background-position: 0 -96px;}


.ml40{margin-left: 40px;}
.mt30{margin-top: 30px;}

/* 进度条 */
.uc-process .w325{*width: 325px;}
.uc-process .w326{*width: 326px;}
.uc-process .arrow,
.uc-process .arrow-current,
.uc-process .arrow-complete,
.uc-process .arrow-past{*width: 10px;}

/* 列表 */
.orders-list .uc-table td{vertical-align: top;}
.orders-list .uc-table .cny{margin: 0 1px;}
.orders-list .uc-table .uc-ploy{margin-top: 2px;}
.orders-list .ico-centos,
.orders-list .ico-debian,
.orders-list .ico-ubuntu,
.orders-list .ico-redhat,
.orders-list .ico-windows{display: inline-block; width: 16px; height: 16px; overflow: hidden; margin-right: 5px; vertical-align: text-top; cursor: pointer;}
.orders-list .ico-centos{background-position: 0 0;}
.orders-list .ico-debian{background-position: 0 -24px;}
.orders-list .ico-ubuntu{background-position: 0 -48px;}
.orders-list .ico-redhat{background-position: 0 -72px;}
.orders-list .ico-windows{background-position: 0 -96px;}
.orders-list .r-price{color: #390;}
.orders-list .s-price{color: #f60;}
.orders-list .do-delete{
    -webkit-transition: color .3s; -moz-transition: color .3s; -ms-transition: color .3s; -o-transition: color .3s;
}
.orders-list .do-delete:link,
.orders-list .do-delete:visited{color: #999;}
.orders-list .do-delete:hover{color: #333; text-decoration: none;}
.orders-list .uc-table .tr-title td{padding: 10px 10px;}
.orders-list .uc-table .tr-title:hover td{background-color: #fff;}

.undo-grave{width: 0; height: 0; overflow: hidden;}
.undo-info{display: block; height: 24px; padding: 1 0px; background: #fff; text-align: center; color: #333; line-height: 2; font-size: 12px;
    -webkit-transition: all .6s; -moz-transition: all .6s; -ms-transition: all .6s; -o-transition: all .6s;
}
.undo-info-done{background: #fef7dc; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);}
.uc-table .tr-undo td{padding: 0;}
.uc-table .tr-undo:hover td{background: #fff;}
.orders-list .uc-table .tr-undo td{vertical-align: middle;}

/* 提交 */
.orders-submit .icon-giving,
.orders-submit .uc-ploy,
.orders-submit .r-price,
.orders-submit .c-price,
.orders-submit .s-price,
.orders-submit .submit-text,
.orders-submit .uc-button,
.orders-submit .uc-button-disabled,
.orders-submit .orders-pact,
.orders-submit label{float: right; display: inline;}
.orders-submit .icon-giving{color: #79a54c; font-size: 16px; margin: 2px 6px 0 0;}
.orders-submit .cny{margin: 0 1px;}
.orders-submit .r-price,
.orders-submit .c-price{line-height: 20px;}
.orders-submit .c-price{margin-left: 6px; color: #999; text-decoration: line-through;}
.orders-submit .r-price{color: #390; margin-left: 4px;}
.orders-submit .uc-ploy{margin-right: 4px;}
.orders-submit .s-price{color: #f60; font-size: 24px;}
.orders-submit .submit-text{margin-top: 12px;}
.orders-submit .orders-pact{width: 13px; height: 13px; overflow: hidden; margin: 3px 0px 0 0;}